doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='layout.css')
    link(rel='icon', type='image/png', href='images/favicon.png')
    title VW (・ω<)
  body
    .wrapper
      .nav
        ul
          li.home
            a(href='#') Home
          li.login
            a(href='login') Login
          li.register
            a(href='register') Register
      header
        h1.large Virtual Waifu!
      section.columns
        .column
          h2 Need a Friend?
          p Your waifu is here.
        .column
          h2 Do you want someone to notice you, senpai?
          p There is someone craving your attention.
        .column
          h2 Check on them daily!
          p
            | Your virtual waifu will be waiting for you 
            3(<)
      footer
        h3 Footer
        p
          | 
