doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='..\public\stylesheets\startbootstrap-new-age-gh-pages\css\new-age.css')
    link(rel='stylesheet', type='text/css', href='./layout.css')
  body
    block content
